page-contact {
    .select-text{
        color: #FFFFFF;
    }
    .alert-radio-inner{
        color: #FDD736;
    }
    .asterisque{
        color: #CACACA;
    }
    #notice{
        color: #CACACA;
    }
}
